<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Emeric Dynomant Resume</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
	</head>

<!--
	What are you doing here ?
	I'm not a web devlopper, don't judge me.
-->

	<body>
		<section class="section intro">
			<div class="container">
				<h1>Emeric Dynomant</h1>
			</div>
		</section>
		<br/>
	<!-- TIMELINE -->
		<section class="timeline">
			<ol>
				<li>
					<div class="personnal">
						<time>JAN. 1991</time>
						<p>I was <b>born</b> in Decize, France.</p>
						<img src="{{ url_for('static', filename='images/decize.jpg') }}" alt="Decize, bridge on Loire" style="width: 250px;"/>
					</div>
				</li>
				<li>
					<div class="school">
							<time>2002 - 2006</time>
							<p><b>Middle school</b></p>
							<p>Cercy La Tour, France.</p>
							<img src="{{ url_for('static', filename='images/college_cercy.jpg') }}" alt="Cercy middle school" style="width: 150px;"/>
					</div>
				</li>
				<li>
					<div class="personnal">
						<time>2006</time>
						<p>Start playing <b>guitar</b>.</p>
						<p>Electric and accoustic.</p>
						<p>In a band for 3 years.</p>
						<img src="{{ url_for('static', filename='images/esp_ltd.png') }}" alt="Decize, bridge on Loire" style="width: 130px;"/>
					</div>
				</li>
				<li>
					<div class="school">
						<time>2006 - 2009</time>
						<p><b>High school</b>,</p>
						<p>Decize, France.</p>
						<p>Scientific degree,</p>
						<p>with speciality in <b>biology / maths</b>.</p>
						<img src="{{ url_for('static', filename='images/biology_banner.jpg') }}" alt="High school biology" style="height: 40px;"/>						
					</div>
				</li>
				<li>
					<div class="formation">
						<time>AUG. 2009</time>
						<p><b><a href="https://www.protection-civile.org/psc1/" target="_blank">PSE1</a></b></p>
						<p><b>Croix-rouge, Decize, France</b>.</p>
						<p>General first aid and medical formation.</p>
						<img src="{{ url_for('static', filename='images/croix_rouge.png') }}" alt="High school biology" style="width: 170px;"/>
					</div>
				</li>
				<li>
					<div class="personnal">
						<time>2009</time>
						<p>Start <b>climbing</b>.</p>
						<p>Maximum difficulty lvl <b>7a</b>.</p>
						<img src="{{ url_for('static', filename='images/climbing.jpg') }}" alt="Decize, bridge on Loire" style="width: 200px;"/>
					</div>
				</li>
				<li>
					<div class="school">
						<time>2010</time>
						<p><b>L1 STS - General biology</b>.</p>
						<p>Clermont I university</p>
						<p>Clermont-Ferrand, France.</p>
						<img src="{{ url_for('static', filename='images/banner_L1.png') }}" alt="High school biology" style="width: 180px;"/>
					</div>
				</li>
				<li>
					<div class="internship">
						<time>JUN. 2010 - JUL. 2010</time>
						<p><b>Clinical investigation</b>.</p>
						<p><a href="https://cic-cpc.chu-clermontferrand.fr/CIC/default.aspx" target="_blank">CIC Clermont-Ferrand</a></p>
						<p><b>Dr G. Pickering</b>.</p>
						<p>Crossed study to investigate Paracetamol's effects under Setrons treatment during chemotherapies.</p>
					</div>
				</li>
				<li>
					<div class="school">
						<time>2011</time>
						<p><b>L2 STS - Pharmacology</b>.</p>
						<p>Clermont I university</p></p>
						<p>Clermont-Ferrand, France.</p>
						<img src="{{ url_for('static', filename='images/banner_L1.png') }}" alt="High school biology" style="width: 180px;"/>						
					</div>
				</li>
				<li>
					<div class="formation">
						<time>MAY 2011</time>
						<p><b><a href="https://www.service-public.fr/particuliers/vosdroits/F22720" target="_blank">C2i</a></b></p>
						<p><b>UDA, Clermont-Ferrand, France.</b></p>
						<p>Official french informatic acreditation.</p>
						<img src="{{ url_for('static', filename='images/c2i.png') }}" alt="High school biology" style="width: 150px;"/>
					</div>
				</li>
				<li>
					<div class="school">
						<time>2012</time>
						<p><b>L3 STS - Structural molecular study</b>.
						<p>Clermont I university</p>
						<p>Clermont-Ferrand, France.</p>
						<img src="{{ url_for('static', filename='images/banner_L1.png') }}" alt="High school biology" style="width: 180px;"/>
					</div>
				</li>
				<li>
					<div class="formation">
						<time>APR. 2012</time>
						<p><b><a href="https://c2i.enseignementsup-recherche.gouv.fr/etudiants/les-competences-du-c2i-niveau-1" target="_blank">Animal experimentation, lvl 1</a></b></p>
						<p><b>UDA, Clermont-Ferrand, France.</b></p>
						<p><b>Module 1</b>: High level of coaching and experiments development.</p>
						<p><b>Module 2</b>: Initiation to surgery on rodent model.</p>
					</div>
				</li>
				<li>
					<div class="internship">
						<time>MAY 2012 - AUG. 2012</time>
						<p><b>Pharmacognosy Lab</b>.</p>
						<p>UMR 1019 INRA-UDA</p>
						<p><b>Dr C. Felgines</b>.</p>
						<p>Anti-oxydant effect study of grape extracts on cell cultures and mice with induced inflamation of colon.</p>
					</div>
				</li>
				<li>
					<div class="school">
						<time>SEP. 2012 - MAR. 2013</time>
						<p><b>University of Sherbrooke</b>.</p>
						<p>Exchange program to study medical informatics at the Sherbrooke university.</p>
						<img src="{{ url_for('static', filename='images/sherbrooke-univ.png') }}" alt="High school biology" style="width: 200px;"/>
					</div>
				</li>
				<li>
					<div class="formation">
							<time>OCT. 2012</time>
							<p><b><a href="http://www.phac-aspc.gc.ca/lab-bio/index-fra.php" target="_blank">NC2 laboratories</a></b></p>
							<p><b>Sherbrooke North Hospital.</b></p>
							<p>Work and experiments with radioactive isotopes.</p>
							<img src="{{ url_for('static', filename='images/radioactivity.png') }}" alt="High school biology" style="width: 50px;"/>
					</div>
				</li>
				<li>
					<div class="internship">
							<time>MAR. 2013 - AUG. 2013</time>
							<p><b>Physiology and Pharmacology</b>.</p>
							<p><a href="https://www.usherbrooke.ca/dep-pharmacologie-physiologie/english/contact-us/" target="_blank">Sherbrooke University</a></p>
							<p><b>Dr L. Gendron</b>.</p>
							<p>Pharmacological study of a modified <i>leu-enkephaline</i> with the aim of developping a new sedative.</p>
					</div>
				</li>
				<li>
					<div class="school">
							<time>2014</time>
							<p><b>Msc. GEPV</b>.</p>
							<p><b>Genomic, Ecophysiology and Vegetal Production</b></p>
							<p>UBP - Vet'Agro Sup</p>
							<p>Clermont-Ferrand, France.</p>
							<p><a href="http://ent.univ-bpclermont.fr/sof/plaquettes/2013/Master_Genomique__ecophysiologie_et_production_vegetales_(WEB-19547).pdf" target="_blank">Courses</a></p>
					</div>
				</li>
				<li>
					<div class="internship">
						<time>MAR. 2014 - AUG. 2014</time>
						<p><b>GDEC, Team SEVEN</b>.</p>
						<p><a href="https://www6.clermont.inrae.fr/umr1095/Organisation/Equipes-de-recherche" target="_blank">UMR 1095 INRA</a></p>
						<p><b>Drs E. Paux and F. CHoulet</b>.</p>
						<p><b>Bioinformatics study of PAV</b> among transposable elements on wheat 3B chromosome.</p>
					</div>
				</li>
				<li>
					<div class="school">
							<time>2015</time>
							<p><b>Msc. GEPV</b>.</p>
							<p><b>Genomic, Ecophysiology and Vegetal Production</b></p>
							<p>UBP - Vet'Agro Sup</p>
							<p>Clermont-Ferrand, France.</p>
							<p><a href="http://ent.univ-bpclermont.fr/sof/plaquettes/2013/Master_Genomique__ecophysiologie_et_production_vegetales_(WEB-19547).pdf" target="_blank">Courses</a></p>
					</div>
				</li>
				<li>
					<div class="internship">
							<time>JAN. 2015 - MAY. 2015</time>
							<p><b>GDEC, Team SEVEN</b>.</p>
							<p><a href="https://www6.clermont.inrae.fr/umr1095/Organisation/Equipes-de-recherche" target="_blank">UMR 1095 INRA</a></p>
							<p><b>Dr E. Paux</b>.</p>
							<p>Bioinformatics study of CNV on gene carried by the wheat 3B chromosome and <b>correction of the wheat phylogeny</b>.</p>
					</div>
				</li>
				<li>
					<div class="personnal">
							<time>JUL. 2015 - AOU. 2016</time>
							<p>Trip in <b>south America</b>.</p>
							<p>Autonomous travel among <b>8 countries</b>.</p>
							<p><b>Atlantic crossing by sailing</b> and many different jobs.</p>
							<img src="{{ url_for('static', filename='images/south_america.png') }}" alt="Earth" style="width: 50px;"/>
						</div>
					</li>
					<li>
						<div class="internship">
							<time>SEP. 2016 - MAY. 2019</time>
							<p><b>CIFRE Phd</b>.</p>
							<p><a href="https://www.omictools.com" target="_blank">OmicX</a></p>
							<p><b>Artificial intelligence</b> for automatic <b>text mining and document classification</b>. NLP for automatic biological pipelines design.</p>						
					</div>
				</li>
				<li>
					<div class="formation">
							<time>2017</time>
							<p><b><a href="https://www.coursera.org/account/accomplishments/records/ZX9L7VU64WXK" target="_blank">Neural Networks for Machine Learning</a></b>,</p>
							<p><b>Coursera, Univ. of Toronto.</b></p>
							<p>16 weeks course about diverse <b>neural networks and deep learning algorithms</b>.</p>
							<img src="{{ url_for('static', filename='images/ai-logo.png') }}" alt="AI logo" style="width: 60px;"/>
						</div>
					</li>
					<li>
						<div class="internship">
							<time>JUI. 2019 - JUI 2021</time>
							<p>Data scientist R&D</p>
							<p><b>Atos Grenoble, France</b>.</p>
							<p>Complete product for predictive maintenance on complex architectures.</p>
							<img src="{{ url_for('static', filename='images/atos.png') }}" alt="AI logo" style="width: 80px;"/>
						</div>
					</li>
					<li>
						<div class="internship">
							<time>JUI 2021 - NOW</time>
							<p>MLops engineer</p>
							<p><b>Atos Innolab, France</b>.</p>
							<p>Architecture and software engineering for chatbot/voicebot and social robots (Furhat Robotics).</p>
							<img src="{{ url_for('static', filename='images/atos.png') }}" alt="AI logo" style="width: 80px;"/>
					</div>
				</li>
				<li>

				</li>
			</ol>
			<br/>
	<!-- ARROWS -->
			<div class="arrows">
				<ul class="legend">
					<li><span class="internship"></span> Internship / work</li>
					<li><span class="school"></span> Education</li>
					<li><span class="personnal"></span> Personnal</li>
					<li><span class="formation"></span> Formations</li>
				</ul>
				<button class="arrow arrow__prev disabled" disabled>
					<img src="{{ url_for('static', filename='images/left_a.png') }}" alt="prev timeline arrow">
				</button>
				<button class="arrow arrow__next">
					<img src="{{ url_for('static', filename='images/right_a.png') }}" alt="next timeline arrow">
				</button>
			</div>
		</section>
	<!-- LEGEND -->
		<!-- <div>

		</div> -->
	<!-- JAVASCRIPT -->
		<script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/timeline.js') }}"></script>
		<!-- <script type="text/javascript" src="timeline.js"></script> -->
	</body>
</html>
